<link rel="stylesheet" href="~/Content/css/style.css">
@*dùng viewbag đẻ thể hiện số lượng sản phẩm có trong giỏ hàng và tổng tiền*@


<div class="cart box_1">
    <a href="@Url.Action("xemgiohang","giohang")">
        <h3>
            <img src="~/Content/img/cart.png" alt="">
            <div class="total">
                @ViewBag.tongtien.ToString("#,##") VND</span> (<span>@ViewBag.tongsoluong</span> sp)
            </div>

        </h3>
    </a>
   @* <p><a href="@Url.Action("xemgiohang","giohang")" class="simpleCart_empty">Empty Cart</a></p>
*@
</div>

