@model webbanhang.Models.SANPHAM
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Layout/homelayout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/blog.css">

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="blog_left_sidebar">
                <article class="blog_item">
                    <div class="blog_item_img">
                        <img src="~/Content/img/blog1.jpg" />
                        <a href="#" class="blog_item_date">
                            <h3>19</h3>
                            <p>Oct</p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="blog_details">
                <a class="d-inline-block" href="#">
                    <h2>Bo mạch chủ MSI Z790 vs. Z690: Điều gì đáng mong đợi?</h2>
                </a>
                <p>
                    Dòng CPU thế hệ thứ 13 của Intel, tên mã là Raptor Lake, sắp được
                    ra mắt! Cũng như mong đợi, Intel cũng cho ra mắt một chipset hoàn
                    toàn mới để có thể đáp ứng tốt hơn yêu cầu hiệu năng và công nghệ
                    của các dòng CPU thế hệ mới.
                </p>
            </div>
            <div class="blog_left_sidebar">
                <article class="blog_item">
                    <div class="blog_item_img">
                        <img src="~/Content/img/blog2.jpg" />
                        <a href="#" class="blog_item_date">
                            <h3>15</h3>
                            <p>Oct</p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="blog_details">
                <a class="d-inline-block" href="#">
                    <h2>2022 ASUS Vivobook KHIẾN CẢ THẾ GIỚI PHẢI TRẦM TRỒ</h2>
                </a>
                <p>
                    Máy tính xách tay thuộc dòng Vivobook 2022 hoàn toàn mới của ASUS
                    Được trang bị Windows 11 Pro – ASUS khuyến nghị dùng Windows 11
                    Pro cho doanh nghiệp, với bộ vi xử lý lên đến Intel® Core™
                    H-series thế hệ thứ 12, bộ vi xử lý AMD Ryzen™ 6000 Series
                    H-series và GPU máy tính xách tay NVIDIA® GeForce RTX™ 3070 Ti
                </p>
            </div>
            <div class="blog_left_sidebar">
                <article class="blog_item">
                    <div class="blog_item_img">
                        <img src="~/Content/img/blog4.jpg" />
                        <a href="#" class="blog_item_date">
                            <h3>15</h3>
                            <p>Oct</p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="blog_details">
                <a class="d-inline-block" href="#">
                    <h2>
                        Cận cảnh “siêu quái vật” Acer Predator 21X: Laptop khủng thế này
                        thì game thủ nào...
                    </h2>
                </a>
                <p>
                    Đi ngược lại xu hướng rút gọn, cắt mỏng, giảm nhẹ, Acer cho ra mắt
                    laptop Predator 21X với những thông số khiến người dùng máy bàn
                    cũng phải thè...
                </p>
            </div>
            <div class="blog_left_sidebar">
                <article class="blog_item">
                    <div class="blog_item_img">
                        <img src="~/Content/img/blog3.png" />
                        <a href="#" class="blog_item_date">
                            <h3>15</h3>
                            <p>Oct</p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="blog_details">
                <a class="d-inline-block" href="#">
                    <h2>
                        Chế độ Console trên màn hình của MSI, Được thiết kế để đáp lại
                        mối quan tâm của bạn. Tính năng tuyệt vời nhất đem lại lợi ích
                        cho bạn. Chế độ Console Trên màn hình
                    </h2>
                </a>
                <p>
                    Trong bài blog này, chúng tôi sẽ giới thiệu. PS5 Tương thích với
                    độ phân giải QHD PS5/Xbox Tương thích với độ phân giải
                    FHD@120[...]
                </p>
            </div>
            <div class="blog_left_sidebar">
                <article class="blog_item">
                    <div class="blog_item_img">
                        <img src="~/Content/img/blog5.jpg" />
                        <a href="#" class="blog_item_date">
                            <h3>15</h3>
                            <p>Oct</p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="blog_details">
                <a class="d-inline-block" href="#">
                    <h2>
                        Điểm mặt những “vũ khí tối thượng” trong hệ sinh thái gaming của
                        Acer
                    </h2>
                </a>
                <p>
                    Ngay cả những game thủ khó tính nhất cũng gật đầu đồng ý rằng hệ
                    sinh thái gaming của Acer là một trong những lựa chọn gaming tốt
                    nhất với tiêu...
                </p>
            </div>
            <div class="blog_left_sidebar">
                <article class="blog_item">
                    <div class="blog_item_img">
                        <img src="~/Content/img/blog6.jpg" />
                        <a href="#" class="blog_item_date">
                            <h3>15</h3>
                            <p>Oct</p>
                        </a>
                    </div>
                </article>
            </div>
            <div class="blog_details">
                <a class="d-inline-block" href="#">
                    <h2>
                        Ra mắt ASUS ZenBook Flip Series, loạt laptop xoay gập tiên phong
                        trang bị màn hình OLED mỏng nhất thế giới
                    </h2>
                </a>
                <p>
                    ZenBook Flip S (UX371) và ZenBook Flip (UX363) là bộ đôi laptop
                    xoay gập mỏng nhất thế giới có màn hình OLED, mang đến sự linh
                    động, di động và hiệu năng trong một thiết kế đẳng cấp...
                </p>
            </div>

          
        </div>
        <div class="col-lg-4">
            <div class="blog_right_sidebar">
                <div class="container-fluid">
                    <form class="d-flex">
                        <input class="form-control me-2"
                               type="search"
                               placeholder="Nhập từ khóa bạn muốn tìm kiếm ....."
                               aria-label="Search" />
                        <button class="btn btn-outline" type="submit">Search</button>
                    </form>
                </div>
                <div class="category">
                    <h1>Category</h1>
                    <ul class="list">
                        <li class="list-item">
                            <a href="#">Technology</a>
                        </li>
                        <li class="list-item">
                            <a href="#">Laptops</a>
                        </li>
                        <li class="list-item">
                            <a href="#">Desktops</a>
                        </li>
                        <li class="list-item">
                            <a href="#">Monitors</a>
                        </li>
                        <li class="list-item">
                            <a href="#">Product Review</a>
                        </li>
                        <li class="list-item">
                            <a href="#">Application & Tool</a>
                        </li>
                        <li class="list-item">
                            <a href="#">Review</a>
                        </li>
                    </ul>
                </div>
                <div class="newletter">
                    <label for="exampleFormControlInput1" class="form-label">
                        <h2>Newsletter</h2>
                    </label>
                    <input type="email"
                           class="form-control"
                           id="exampleFormControlInput1"
                           placeholder="Enter email" />
                    <button type="submit" class="btn btn-primary mb-3">
                        S U B S C R I B E
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>